# Ignorar archivo de configuración con datos sensibles
conexion.php
adminer.php

# Ignorar carpetas comunes y archivos temporales
/vendor/
/node_modules/
*.log
*.cache
*.env
*.DS_Store
Thumbs.db

# Archivos de IDE
.idea/
.vscode/
*.iml

# Composer
composer.lock
