* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

@font-face {
    font-family: 'Oxygen';
    font-display: swap;
    src: url('Oxygen-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

body {
    font: 18px 'Oxygen', Arial, Serif
}

footer {
    background: #2b2b2b;
    color: #fff;
    padding: 2rem;
    text-align: center
}

footer a {
    color: #fff
}

h2 {
    margin: 1.4rem 0
}

header {
    background-color: #0066fe;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0
}

header a {
    color: white;
    text-decoration: none;
}

.somos {
    background-color: #014164;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.4rem
}

.somos p {
    line-height: 1.6rem;
    margin-bottom: 1.2rem
}

header img {
    max-width: 100%;
    height: auto;
    display: block
}

.contenedor {
    max-width: 1200px;
    margin: 1rem auto;
    padding: 0 15px
}

.columna {
    margin: 0 auto;
    padding: 1rem;
    border-radius: .5rem;
    max-width: 400px
}

.columna img {
    margin: 0 auto 1rem;
    width: 100%;
    height: auto;
    display: block;
    border-radius: .5rem
}

.fila {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem
}